$color-01: #fff;
$color-02: #000000;

$color-blue: #4D46FA;
$color-orange: #F06336;
$color-bg-header: transparent;
$color-border-gray : rgba(0, 0, 0, 0.1);
$color-text-gray-06 : rgba(0, 0, 0, 0.6);
$color-text-gray-04 : rgba(0, 0, 0, 0.4);
$color-text-gray-01 : rgba(0, 0, 0, 0.1);
$color-bg-gray: #F4F2F9;
$color-pink: rgba(240, 99, 54, 0.1);
